/MS.Common/bin
/MS.Common/obj
/MS.Model/obj/Debug
/CreateExcelProcess/bin/Debug
/MS.Model/bin/Debug
/CreateExcelProcess/obj
/MS.BLL/bin
/MS.DAL/bin
/MS.DAL/obj
/MS.BLL/obj/Debug
/MS.RedisMongoDBUI/obj/Debug
/MS.RedisMongoDBUI/bin
/CreateExcelProcess.Jobs/bin
/CreateExcelProcess.Jobs/obj
