
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowUser</title>
</head>
<body>
    <h2>all the User</h2>
    <div>
        <table>
           <thead>
               <tr>
                   <th>Index</th>
                   <th>UserName</th>
                   <th>Age</th>
                   <th>Address</th>
               </tr>
           </thead>
           <tbody>

           </tbody>
        </table>

    </div>
</body>
</html>
